.playback-wrap {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none !important;
    cursor: pointer;

    > mat-icon {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 8px;
        border-radius: 100%;
    }
}

.playback-wrap:hover .overlay {
    display: flex !important;

}

.artist-name {
    margin-left: 8px;
    color: #aaa;
}

mat-chip-list, app-playlist-add {
    margin-top: 24px;
    text-align: center;
}

.wrapper {
    width: 100%;
}

.center {
    max-width: calc(100% - 80px);
    z-index: 100;

    > * {
        width: calc(100% + 80px);
        text-align: center;
    }
}

.arrow {
    z-index: 200;
}

@media screen and (max-width: 960px) {
    .arrow {
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 100%;
    }
}
