<h2>Spotify</h2>

<div class="wrapper" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="nogrow" class="arrow left">
        <button mat-icon-button (click)="prev()"><mat-icon>skip_previous</mat-icon></button>
    </div>

    <div fxFlex="nogrow" class="center" fxLayout="column" fxLayoutAlign="start center">
        <h3 fxFlex="nogrow">{{ status?.item?.name || 'not playing...' }}</h3>

        <div class="playback-wrap" fxFlex="nogorw" *ngIf="status">
            <div *ngIf="status.item?.album?.images">
                <app-playback-image [images]="status.item.album.images"></app-playback-image>
            </div>
            <div class="overlay" fxLayout="column" fxLayoutAlign="center center" (click)="pauseOrResume()">
                <mat-icon *ngIf="status.is_playing">pause</mat-icon>
                <mat-icon *ngIf="!status.is_playing">play_arrow</mat-icon>
            </div>
        </div>
    </div>

    <div fxFlex="nogrow" class="arrow left">
        <button mat-icon-button (click)="next()"><mat-icon>skip_next</mat-icon></button>
    </div>
</div>
