.playback-wrap {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    display: none !important;
}

.playback-wrap:hover .overlay {
    display: flex !important;
    background-color: rgba(0, 0, 0, 0.75);
}

.artist-name {
    margin-left: 8px;
    color: #aaa;
}

mat-chip-list {
    margin-top: 24px;
}
