

# IDE config
.vscode
.idea

# local testing stuff
_spotifyapi_objects

# python cache
__pycache__

# runtime data
cache
server/ssl
server/*.db

# config (containing secrets)
server/config.ini


# serverside utils
*.sh
.bash_history
.cache
.python_history
.viminfo
.local
.angular-config.json
.config
.npm