@import '~@angular/material/theming';
@import './themes/main-theme';
@import './themes/mixins';


@media not print {
    // Theme Init
    @include angular-material-theme($mainTheme);
    @include component-theming($mainTheme);

    .theme-alternate {
        @include angular-material-theme($altTheme);
        @include component-theming($altTheme);
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.icon-hover {
    .icon-spacer {
        display: inline-block;
        width: 24px;
        margin-left: 8px;
        margin-right: 8px;
    }

    .icon {
        display: none;
        margin-left: 8px;
        margin-right: 8px;
    }

    &:hover {
        .icon { display: inline-block; }
        .icon-spacer { display: none; }
    }
}

@media print {
    html, body {
        font-size: 0.75em;
    }
}
