.scroll-box {
    height: 400px;
    border: 1px solid #ccc;
    width: 100%;
    overflow: auto;
}

.content-box {
    width: 100%;
}

.chat-controls {
    width: 100%;
}

.chat-sender {
    width: 100px;
}

.chat-row {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.chat-sender, .chat-message, .chat-actions  {
    padding: 8px;
    font-size: 16px;
}

%overlay-hover {
    left: 0;

    button {
        left: calc(100% - 40px);
    }
}

.action-overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
    transition: all ease-in 0.2s;
    overflow: hidden;

    button {
        transition: all ease-in 0.2s;
        position: absolute;
        left: -40px;
        top: -2px;
    }

    &:hover {
        @extend %overlay-hover;
    }
}


.chat-actions {
    width: 30px;
    text-align: right;

    mat-icon {
        font-size: 20px;
        height: 12px;
        width: 16px;
        line-height: 8px;
        vertical-align: middle;
    }


    &:hover .action-overlay {
        @extend %overlay-hover;
    }
}
