<div class="main" fxLayout="column" fxLayoutAlign="start start">
    <div class="scroll-box">
        <div class="content-box" fxLayout="column">
            <div *ngFor="let message of messages" class="chat-row" fxLayout="row" fxFlex="nogrow" fxLayoutAlign="start center">
                <div class="chat-sender" fxFlex="nogrow">
                    {{ message.sender.name }}
                </div>
                <div class="chat-message" fxFlex="auto">
                    <app-chat-message [message]="message.message"></app-chat-message>
                </div>
                <div class="chat-actions" fxFlex="nogrow">
                    <ng-container *ngIf="message.sender.id === user?.id">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                        <div class="action-overlay" fxLayout="row" fxLayoutAlign="end center">
                            <button class="icon" mat-icon-button  (click)="deleteMessage(message)">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-controls" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="auto">
            <input type="string" matInput [(ngModel)]="message" placeholder="message" (keyup.enter)="send()">
        </mat-form-field>
        <button fxFlex="nogrow" color="accent" mat-raised-button (click)="send()">send</button>
    </div>
</div>
