<div class="main" fxLayout="column" fxLayoutAlign="start start">
    <div class="scroll-box">
        <div class="content-box">
            <div *ngFor="let message of messages" class="chat-row">
                <div class="chat-sender">
                    {{ message.sender.name }}
                </div>
                <div class="chat-message">
                    <app-chat-message [message]="message.message"></app-chat-message>
                </div>
                <div class="chat-actions icon-hover">
                    <span class="icon-spacer"></span>
                    <button class="icon" mat-icon-button *ngIf="message.sender.id === user?.id" (click)="deleteMessage(message)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-controls" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="auto">
            <input type="string" matInput [(ngModel)]="message" placeholder="message" (keyup.enter)="send()">
        </mat-form-field>
        <button fxFlex="nogrow" color="accent" mat-raised-button (click)="send()">send</button>
    </div>
</div>
